h1 {
    color: red;
}
img {
    width: 400px;
}
#thirDiv {
    height: 600px;
    width:  500px;
    background-color: slategray;
    padding: 50px;
    border: 20px black;
}
#spanDiv {
    margin: 50px;

}